{
  "oauth": {
    "client": {
      "id": "{{ client_id }}",
      "secret": "{{ client_secret }}"
    },
    "scope": "openid profile",
    "device_endpoint": "{{ oidc_providers[idp_provider].device_endpoint }}",
    "token_endpoint": "{{ oidc_providers[idp_provider].token_endpoint }}",
    "userinfo_endpoint": "{{ oidc_providers[idp_provider].userinfo_endpoint }}",
    "username_attribute": "{{ username_attribute }}",
    "groups": [{% if allowed_groups %}{% for g in allowed_groups %}"{{ g }}"{% if not loop.last %}, {% endif %}{% endfor %}{% endif %}]
  },

  {% if enable_email | default(false) %}
  "enable_email": true,
  "send_mail": {
    "smtp_server_url": "{{ smtp.smtp_server_url }}",
    "smtp_username": "{{ smtp.smtp_username | default('') }}",
    "smtp_password": "{{ smtp.smtp_password | default('') }}",
    "smtp_insecure": "{{ smtp.smtp_insecure | default('false') }}",
    "smtp_ca_path": "{{ smtp.smtp_ca_path | default('') }}",
    "from_address": "{{ smtp.from_address | default('vpn@example.com') }}",
    "from_username": "{{ smtp.from_username | default('noreply@infn-cloud-vpn') }}",
    "cc_address": "{{ smtp.cc_address | default('') }}"
  },
  {% else %}
  "enable_email": false,
  {% endif %}

  "qr": { "error_correction_level": {{ qr_error_correction_level | default(-1) }} },
  "debug": {{ debug | default(true) | tojson }}
}
